.theme
	$padding = 20px
	$color = #FF1616
	padding $padding 0
	background #000
	*
		font normal 300 14px Courier New, serif
		color #fff
		background transparent
		border 0
	h1,
	h2,
	h3,
	pre,
	ul,
	li
		padding 0
		margin 0
	pre
		padding 20px 40px
	li
		list-style none
	a,
	pre,
	header span
		color $color
	header,
	footer
		text-align center
	footer
		padding-top $padding
	section
		header
			padding $padding 0
			&:first-child
				padding-top 0
		ul,
		p
			margin-bottom 10px