doctype html
html(lang='pt-BR')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title CleanCode Boilerplate Documentation
        link(href='./bower_components/animate.css/animate.min.css', rel='stylesheet')
        link(href='./bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
        link(href='./dist/css/main.css', rel='stylesheet')
        <!--[if lt IE 9]>
        script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
        script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
        <![endif]-->
    body.theme
        header 
            h1 
                span CleanCode 
                | Boilerplate Documentation
        .container
            .row
                .col-md-12
                    section
                        header
                            h2 Development Environment
                        
                        h3 Package Manager
                        ul
                            li - npm
                            li - bower

                        h3 Task Runner
                        p - gulp

                        h3 Template Engine
                        p - jade
                        
                        h3 CSS Preprocessor
                        p - stylus

                        h3 Local Server
                        p - BrowserSync

                        h3 Framework CSS
                        p - Twitter Bootstrap

                        h3 Libraries
                        ul
                            li - jQuery
                            li - animate.css

                    section
                        header
                            h2 How to Use
                        h3 Global Dependencies
                        ul
                            li - nodejs
                            li - npm
                            li - gulp
                            li - bower

                        h3 Install
                        ul
                            li - $ npm install
                            li - $ bower install

                    section
                        header
                            h2 Structure
                        h3 
                        p * All html files and the dist folder are generated by gulp.
                        pre.
                            node_modules/
                            bower_components/
                            ├── animate.css
                            ├── bootstrap
                            └── jquery
                            dist/
                            ├── dist/
                            │   └── css/
                            │       └── main.css
                            src/
                            ├── jade/
                            │   └── **/*.jade
                            └── stylus/
                                ├── components/
                                │   └── *.styl
                                ├── extends.styl
                                ├── global.styl
                                ├── imports.styl
                                ├── main.styl
                                ├── media.styl
                                ├── style.styl
                                └── vars.styl
                            .gitignore
                            bower.json
                            gulpfile.js
                            index.html
                            package.json

                    section
                        header
                            h2 Tasks

                        h3 $ gulp jade
                        p - compile jade files

                        h3 $ gulp stylus
                        p - compile styl files

                        h3 $ gulp serve
                        p - inicialize a server

                        h3 $ gulp watch
                        p - call for watch files

                        h3 $ gulp build
                        p - build all files

                    section
                        header
                            h2 Others
                        h3 Repository
                        p - 
                            a(href='https://bitbucket.org/allanferreira/boilerplate', target='_blank') https://bitbucket.org/allanferreira/boilerplate

                        h3 Contact
                        ul
                            li - 
                                a(href='https://www.facebook.com/mechamoallan', target='_blank') https://www.facebook.com/mechamoallan
                            li - 
                                a(href='mailto:allan.less@outlook.com') allan.less@outlook.com


        footer developed by 
            a(href='http://mechamoallan.com.br', target='_blank') allanless

        script(src='./bower_components/jquery/dist/jquery.min.js')
        script(src='./bower_components/bootstrap/dist/js/bootstrap.min.js')
        script.
            $(function(){
                console.log('jquery init')
            })